.grid-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Tiga kolom dengan ukuran yang sama */
  gap: 30px; /* Jarak antara item */
  cursor: pointer;
}

.grid-item {
  background-color: #f0f0f000;
  padding: 30px;
  text-align: center;
}
